<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="utf-8" http-equiv="encoding">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
<link rel='stylesheet' href='/stylesheets/jquery.fullPage.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/styles.css' />
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<script async="" src="/javascripts/analytics.js"></script>
<script src="/javascripts/ani-auto02_edge.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/javascripts/core.min.js"></script>
<script type="text/javascript" src="/javascripts/effect.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>


<meta name="generator" content="WordPress 4.1.1">
<link rel="canonical" href="http://apptuned.net/">
<link rel="shortlink" href="http://apptuned.net/">

<script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
    <script type="text/javascript" src="/javascripts/edge.5.0.1.min.js" charset="utf-8"></script>
    

