
<nav class="navbar navbar-default" role="navigation" style="height: auto; background-color: rgba(0, 0, 0, 0.00); border-color: rgba(0, 0, 0, 0.00); margin-bottom: 0px " >
  <div class="container-fluid" style="height: auto; ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="margin-left: 20px; margin-right: 40px;">
      <a class="navbar-brand" href="#" style="height: auto">
        <img src="/images/logo64.png" alt="Apptuned" height="48"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 0px;">      
        <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>        
              </ul>
              
        <a class="border-less" href="#" >Home</a>
        <a class="border-less" href="#" >Products</a>
         --> 
        <!--
      <ul class="nav nav-pills" style="">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><img alt="email" src="/images/subscribe.png" data-toggle="tooltip" data-placement="bottom" title="Subscribe for newsletters" /></a></li> 
          <li><a href="#" style="cursor: default"><img alt="query" src="/images/divider.png"  /></a></li>
          <li><a href="#"><img alt="query" src="/images/query.png" data-toggle="tooltip" data-placement="bottom" title="Send us your queries" /></a></li>       
      </ul>-->        
       <ul class="nav navbar-nav navbar-right" style="padding-right: 5px;">  
           <li> 
               <form class="navbar-form navbar-right" role="search">
                    <!--
                    <div class="form-group">
                       <input type="text" class="form-control" placeholder="email" >
                    </div>
                    <button type="submit" class="btn btn-default" data-placement="bottom" title="Subscribe for newsletters">Subscribe</button>

                   <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="tooltip" data-placement="bottom" title="Contact Info" onclick="showContactsModel()" style="border-radius: 20px">
                      <span class="glyphicon glyphicon-registration-mark " aria-hidden="true"></span>
                   </button>
                   <img height="32" alt="query" src="/images/divider.png"  />-->
                   <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="tooltip" data-placement="bottom" title="Contact Info" onclick="showContactsModel()" style="border-radius: 5px; color: #f8f8f8; background-color: rgba(0, 0, 0, 0.04)">
                      <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> Contacts</span>
                   </button>                  
                  <!-- <a href="#"><img alt="query" src="/images/query.png" data-toggle="tooltip" data-placement="bottom" title="Send us your queries"  /> </a>-->
               </form> 
           </li>
      </ul>        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<style>
    
    a.border-less  {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
        
        color: #333;
        background-color: #fff;
        border-color: rgba(128, 128, 128, 0.00);
        
        text-decoration: none;
    } 
    
    a.border-less:hover  {
        border-color: rgba(128, 128, 128, 0.00);
        background-color: rgba(128, 128, 128, 0.00);
        color: #428bca;            
    }
    
    a.border-less:active   {
        border-color: rgba(128, 128, 128, 0.00);
        background-color: rgba(128, 128, 128, 0.00);
        color: #428bca;            
    }
    
    /*a.border-less:visited  {
        border-color: rgba(128, 128, 128, 0.00);
        background-color: rgba(128, 128, 128, 0.00);   
        color: #428bca;         
    }*/
    
    a.border-less:active:hover   {
        border-color: rgba(128, 128, 128, 0.00);
        background-color: rgba(128, 128, 128, 0.00);
        color: #428bca;            
    }
    
        
</style>