<!DOCTYPE html>
<html lang="en-US" style="overflow: hidden; height: 100%;">
    
  <head>
    <% include ../partials/head %>    
  </head>   

<body class="home page page-id-925 page-template page-template-home page-template-home-php fp-viewing-page-home" style="overflow: hidden; height: 100%; font-size: 100%;">

<div id="pageloading" style="opacity: 0; visibility: hidden;">
  <div class="spinner center-screen">
    <div class="bubble-1"></div>
    <div class="bubble-2"></div>
  </div>  
</div>
  
<a href="http://apptuned.net/#" onclick="return false;" class="navicon-button pull-right show-menu" id="menuToggle"><div class="navicon"><span></span><span></span><span></span><span></span><span></span><span></span></div></a>  
  
<div class="top-nav light">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a href="http://apptuned.net/" id="brightly-logo"><img src="images/logo64.png" class="img-responsive light" alt="brightly" style="width:85px;">
          <img src="images/logo64.png" class="img-responsive dark" alt="brightly" style="width:85px;">
            <img src="images/logo64.png" class="img-responsive black" alt="brightly" style="width:85px;"></a>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
      	<a href="http://apptuned.net/contact">
              <div class="contact-svg"></div>
          </a>
        <span class="tagline hidden-xs">strategy, execution &amp; delivery</span>
    </div>
</div>

<div id="fs-menu">

    <div class="top-menu-nav light">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="http://apptuned.net/"><img src="/images/brightly.svg" class="img-responsive light" alt="brightly" style="width:85px;"></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<p></p>            
        </div>
    </div>
  
    <ul class="list-unstyled">
        <li><a href="http://apptuned.net/#page-failure-lab">Our work</a></li>
        <li><a href="http://apptuned.net/#page-about">About us</a></li>
      	<li><a href="http://apptuned.net/about-us/#page-process">Process</a></li>
        <li><a href="http://apptuned.net/services">Services</a></li>
        <li><a href="http://apptuned.net/contact">Contact us</a></li>
    </ul>
</div>

        <div id="page">

	        <div id="main">
	            <div id="homepage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); -webkit-transition: all 700ms ease; transition: all 700ms ease;">
                <div class="section fp-section fp-table active" data-anchor="page-home" style="height: 936px; background-color: rgb(0, 168, 225);">
                    
                </div>
            </div>    
            </div>
    
            <div id="footer">
                  <div class="container">
                    <img src="/images/b.png" alt="ds">
                    <hr>
                    <div class="clearfix">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-left-gutter">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 no-left-gutter location">Grand Rapids</div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 location no-left-gutter">San Jose</div>
                        <div class="col-lg-6 col-md-4 hidden-sm hidden-xs location"><p></p></div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs no-gutters">
                        <div class="pull-right copy">© 2015 brightly. All Rights Reserved.</div>
                      </div>
                    </div>
                    <div class="info">
                      <p>616.608.7724</p>
                      <p><a href="mailto:hello@teambrightly.com" target="_blank">hello@teambrightly.com</a></p>
                      <p><a href="https://twitter.com/teambrightly" target="_blank">@teambrightly</a></p>
                      <p><a href="https://www.facebook.com/TeamBrightly" target="_blank">/teambrightly</a></p>
                      <p><a href="http://teambrightly.com/about-us/#page-careers">Careers</a></p>
                    </div>
                    <div class="row">
                      <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                        <div class="copy">© 2015 brightly. All Rights Reserved.</div>
                      </div>
                    </div>
                  </div>
                </div>   
       
            <div class="container full-height" style="position:relative;">
                <div class="vertically-centered hidden-md hidden-sm hidden-xs">
                    <div id="stage-ani-auto02" class="ani-auto02" style="position: relative; height: 706px; width: 1075px; z-index: 0; right: auto; bottom: auto; overflow: hidden; text-overflow: clip; background-color: rgb(255, 255, 255); background-size: 100% 100%;"></div>
                </div>
            </div>
        </div>
       
	<script>
         AdobeEdge.loadComposition('ani-auto02', 'ani-auto02', { htmlRoot: "/javascripts/", scaleToFit: "none", centerStage: "none", minW: "0", maxW: "1075px", width: "1075px", height: "706px" }, {dom: [ ]}, {dom: [ ]});
    </script> 

    <script type="text/javascript" src="/javascripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/javascripts/brightly.js"></script>

</body>     
</html>




