<!DOCTYPE html>
<html lang="en-US" style="overflow: hidden; height: 100%;">
    
  <head>
    <% include ../partials/head %>    
  </head>   

  <body class="home page page-id-925 page-template page-template-home page-template-home-php fp-viewing-page-home" style="overflow: hidden; height: 100%; font-size: 100%;">

<div id="pageloading" style="opacity: 0; visibility: hidden;">
  <div class="spinner center-screen">
    <div class="bubble-1"></div>
    <div class="bubble-2"></div>
  </div>  
</div>
  
<a href="http://apptuned.net/#" onclick="return false;" class="navicon-button pull-right show-menu" id="menuToggle"><div class="navicon"><span></span><span></span><span></span><span></span><span></span><span></span></div></a>  
  
<div class="top-nav light">
    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-6">
        <a href="http://apptuned.net/" id="brightly-logo"><img src="images/logo64.png" class="img-responsive light" alt="brightly" style="width:85px;">
          <img src="images/logo64.png" class="img-responsive dark" alt="brightly" style="width:85px;">
            <img src="images/logo64.png" class="img-responsive black" alt="brightly" style="width:85px;"></a>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-8 col-xs-6">
      	<a href="http://apptuned.net/contact"><div class="contact-svg"></div></a>
        <span class="tagline hidden-xs">strategy, execution &amp; delivery</span>
    </div>
</div>

<div id="fs-menu">
    <div class="top-menu-nav light">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a href="http://apptuned.net/"><img src="/images/brightly.svg" class="img-responsive light" alt="brightly" style="width:85px;"></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<p></p>            
        </div>
    </div>
  
    <ul class="list-unstyled">
        <li><a href="http://apptuned.net/#page-failure-lab">Our work</a></li>
        <li><a href="http://apptuned.net/#page-about">About us</a></li>
      	<li><a href="http://apptuned.net/about-us/#page-process">Process</a></li>
        <li><a href="http://apptuned.net/services">Services</a></li>
        <li><a href="http://apptuned.net/contact">Contact us</a></li>
    </ul>
</div>

<div id="page">
	<div id="main">
	<div id="homepage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); -webkit-transition: all 700ms ease; transition: all 700ms ease;">

        <div class="section fp-section fp-table active" data-anchor="page-home" style="height: 936px; background-color: rgb(0, 168, 225);"><div class="fp-tableCell" style="height: 936px;">    
            <div id="section1" class="full-height" style="position:relative;overflow:hidden;">
  <div class="container full-height" style="position:relative;">
    <div class="center-screen">
    <div id="Stage">
      	<h1><span>we’re</span> Crafters <span>of</span> Clarity</h1>
		<div class="animation-container">
			<div class="knife-container knife-rotate">
				<img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/swiss-army-knife.png" alt="We&#39;re Crafters of Clarity" class="knife">
				<img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/pen.png" alt="Content Strategy" class="pen">
				<img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/glass.png" alt="Research" class="glass">
				<img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/arrow-alt.png" alt="UX Strategy" class="arrow-alt">
			</div>
			<h2 class="hide-caption">We have the tools to solve any problem</h2>
		</div>
      </div>
    </div>
    <div class="home-links">
      <div class="col-lg-12 hidden-md hidden-sm hidden-xs">
        <table class="hptb">
          <tbody><tr>
            <td><a href="http://teambrightly.com/services/#page-services/research">Research, IA, Usability Testing</a></td>
            <td><a href="http://teambrightly.com/services/#page-services/content-strategy">Content Strategy &amp; Copywriting</a></td>
            <td><a href="http://teambrightly.com/services/#page-services/ux-architecture">UX Architecture, Experience Design, UI Design</a></td>
            <td><a href="http://teambrightly.com/services/#page-services/brand-and-identity">Brand &amp; Identity</a></td>
          </tr>
        </tbody></table>
      </div>
      <div class="hidden-lg col-md-6 col-sm-12 col-xs-6 rb"><a href="http://teambrightly.com/services/#page-services/research">Research, IA, Usability Testing</a></div>
      <div class="hidden-lg col-md-6 col-sm-12 col-xs-6 rb"><a href="http://teambrightly.com/services/#page-services/content-strategy">Content Strategy &amp; Copywriting</a></div>
      <div class="hidden-lg col-md-6 col-sm-12 col-xs-6 rb"><a href="http://teambrightly.com/services/#page-services/ux-architecture">UX Architecture, Experience Design, UI Design</a></div>
      <div class="hidden-lg col-md-6 col-sm-12 col-xs-6 lb"><a href="http://teambrightly.com/services/#page-services/brand-and-identity">Brand &amp; Identity</a></div>
    </div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down blue">Next Page</a></div>
  </div>  
</div>
        </div></div>
    
        <div class="section about fp-section fp-table" data-anchor="page-about" style="height: 936px; background-color: rgb(0, 168, 225);"><div class="fp-tableCell" style="height: 936px;">
            <div id="about" class="full-height">
  <div class="container full-height" style="position:relative;">
    <div class="row vertically-centered">
      <div class="hidden-lg col-md-1 col-sm-1 col-xs-1"><p></p></div>
      <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10">
        <h1>Let us help you build a brighter future.</h1>
        <p>Brightly is a digital agency focused on delivering user centered experiences and powerful strategy across a broad spectrum of industries. Our expert team relies on research, real world data, and compelling design to create premium solutions for web, mobile, and software.</p>
      </div>
      <div class="hidden-lg col-md-1 col-sm-1 col-xs-1"><p></p></div>
    </div>
    <div class="home-links">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 rb"><a href="http://teambrightly.com/services">Services</a></div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 rb"><a href="http://teambrightly.com/about-us">About Us</a></div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 rb"><a href="http://teambrightly.com/about-us/#page-process">Our Process</a></div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 lb"><a href="http://teambrightly.com/contact/">Contact Us</a></div>
    </div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down blue">Next Page</a></div>
  </div>  
</div>    
        </div></div>

        <div class="section good-design fp-section fp-table" data-anchor="page-good-design" style="height: 936px; background-color: rgb(255, 255, 255);"><div class="fp-tableCell" style="height: 936px;">
            <div class="full-height" style="overflow:hidden;">
  <div id="good-design-state01" style="height: 3303.68px; transform: translateY(-3304px); display: none;"></div>
  <div id="good-design-state02" style="display: none;"></div>
  <div class="container full-height" style="position:relative;">
    <div class="row full-height">
      <div class="hidden-lg col-md-1 col-sm-1 col-xs-1"><p></p></div>
      <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10 full-height">
        <img id="good-design-state03" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/who-we-are-state02.png" alt="" class="img-responsive vertically-centered" style="display: block;">
      </div>
      <div class="hidden-lg col-md-1 col-sm-1 col-xs-1"><p></p></div>
    </div>
  </div>
</div>
<div class="nav-container" style="width: 1920px; height: 936px;">
  <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
</div>    
        </div></div>    
    
        <div class="section who-we-are fp-section fp-table" data-anchor="page-who-we-are" style="height: 936px; background-color: rgb(255, 255, 255);"><div class="fp-tableCell" style="height: 936px;">
            <div id="fusion-design"></div>
<div id="wwa">
  <div class="container full-height" style="position:relative;overflow:hidden;">
    <div class="row full-height">
      <div class="col-lg-7 col-md-7 hidden-sm hidden-xs full-height no-gutters">
        <div id="stage-ani-wwa" class="ani-wwa">
         	<img class="hand" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/hand.png" alt="Hand">
            <div class="wireframe-design">
                <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/wireframePhone.png" alt="Wireframe">
            </div>
            <div class="full-design">
                <img class="real-phone" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/weatherPhone.png" alt="Weather">
                <div class="video-container">
                  <video autoplay="" loop="" preload="auto" poster="/wp-content/themes/brightly2015/img/rainPoster.jpg" id="rain-video">
                       <source type="video/webm" src="/wp-content/themes/brightly2015/video/rain.webm">
                       <source type="video/mp4" src="/wp-content/themes/brightly2015/video/rain.mp4">
                   </video>
                </div>
            </div>
        </div>
      </div>
      <div class="hidden-lg hidden-md col-sm-1 col-xs-1"><p style="opacity: 1;"></p></div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 full-height fusion">
        <div class="vertically-centered" style="width:100%;">
          <h1>It’s the fusion of the analytic &amp; aesthetic</h1>
          <p style="opacity: 1;">We’re more than pixel pushers.</p>
          <p style="opacity: 1;">We’re information architects.</p>
          <p style="opacity: 1;">We’re strategists.</p>
          <p style="opacity: 1;">We’re designers who believe that in order to craft a complete experience, it must be as meaningful as it is beautiful.</p>
        </div>
      </div>
      <div class="hidden-lg hidden-md col-sm-1 col-xs-1"><p style="opacity: 1;"></p></div>
    </div>
  </div>
</div>
<div class="nav-container" style="width: 1920px; height: 936px;">
  <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
</div>    
        </div></div>

    		<div class="section cfailure-lab fp-section" data-anchor="page-failure-lab" style="height: 936px; background-color: rgb(255, 255, 255);">
            <div class="fp-slides"><div class="fp-slidesContainer" style="width: 800%; -webkit-transition: all 700ms ease; transition: all 700ms ease; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);"><div class="slide fp-slide fp-table active" id="failure-lab" data-anchor="failurelab-intro" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <div class="container full-height" style="position:relative;">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 full-height">
      <div class="vertically-centered">
        <h1 onclick="jQuery.fn.fullpage.moveTo(&#39;page-failure-lab&#39;,&#39;failurelab-encourage&#39;);">FAILURE:LAB</h1>
        <p><a href="http://www.failure-lab.com/" target="_blank">Failure:Lab</a> is a raw and intimate event showcasing personal stories of failure. In redesigning their website, brightly was able to elevate their brand and effectively speak to audiences across the globe.<a href="http://www.briankellyphoto.net/" target="_blank" class="photo-attr">Portrait Photos: Brian Kelly</a></p>
        
        <p class="swipe-indicator"><span class="icon-swipe-indicator"></span>SWIPE TO SEE MORE</p>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs" style="height:100%">
      <div class="vertically-centered" style="width:100%;height:100%;">
        <div id="failurelabCarousel" class="carousel carousel-fade" data-ride="carousel" data-interval="6000" data-pause="false">
          <div class="carousel-inner">
            <div class="item" style="background:url(/wp-content/uploads/2015/02/failure-lab.jpg) no-repeat;width:100%;height:100%;float:left;position:absolute;top:0;left:0;background-position:center;background-size:contain;">
            </div>
            <div class="item active" style="background:url(/wp-content/uploads/2015/02/failure-lab-c.jpg) no-repeat;width:100%;height:100%;float:left;position:absolute;top:0;left:0;background-position:center;background-size:contain;">
            </div>
            <div class="item" style="background:url(/wp-content/uploads/2015/02/failure-lab-c2.jpg) no-repeat;width:100%;height:100%;float:left;position:absolute;top:0;left:0;background-position:center;background-size:contain;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <div style="width:100%;height:100%;position:relative;">
      <a class="move next arrow-bounce" href="http://teambrightly.com/#" data-page="5" data-slide="1"><span class="ico-wrap"></span></a>
      <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down">Next Page</a></div>
    </div>  
  </div>  
</div></div><div class="slide fp-slide fp-table" id="failure-lab1" data-anchor="failurelab-encourage" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <div class="container" style="position:relative;height:100%;">
    <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
    <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10 full-height">
      <div class="vertically-centered">
        <h1>We encourage users to interact.</h1>
        <p>Failure:Lab’s website was revitalized to exhibit a raw and poignant aesthetic. Through interactive features, such as storyteller videos and social media integration, users are compelled to interact with the brand in a more personal way.</p>
      </div>
    </div>
    <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <div style="width:100%;height:100%;position:relative;">
      <a class="move prev" href="http://teambrightly.com/#" data-page="5" data-slide="0"><span class="ico-wrap"></span></a>
      <a class="move next" href="http://teambrightly.com/#" data-page="5" data-slide="2"><span class="ico-wrap"></span></a>
      <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down">Next Page</a></div>
    </div>
  </div>  
</div></div><div class="slide fp-slide fp-table" id="failure-lab2" data-anchor="failurelab-layout" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <div class="container full-height" style="position:relative;">
    <div class="hidden-md hidden-sm hidden-xs">
      <div class="failure-lab-siteAnimation" style="position:absolute;top:50%;margin-top:-250px;">
        <div class="photography">
          <h3>Emotive Photography</h3>
          <p>Failure:Lab connects with audience members though candid images of storytellers and entertainers.</p>
          <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/emotivePhotography_Line.png" alt="Emotive Photography">
        </div>
        <div class="messaging">
          <h3>Defined Messaging</h3>
          <p>A clear explanation of Failure:Lab prominently displayed on the homepage helps user understand their mission.</p>
          <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/definedMessaging_Line.png" alt="Defined Messaging">
        </div>
        <div class="experience">
          <h3>Event Experience</h3>
          <p>Failure:Lab events are filled with storytellers and entertainers recounting their most memorable brush with failure and audience members are encouraged to share their thoughts.</p> 
          <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/eventExperience_Line.png" alt="Event Experience">
        </div>
        <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/failureLab_bottom_template.png" alt="Failure:Lab Web Experience" class="base-template">
        <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/failureLab_top_photos.png" alt="Emotive Photography" class="photo-panel">
        <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/failureLab_top_howitworks.png" alt="" class="how-panel">
      </div>
    </div>
    <div class="hidden-lg full-height">
      <div style="background:url(/wp-content/uploads/2015/02/fl-5.jpg) no-repeat;background-size:contain;background-position:center center;width:100%;height:100%;padding:0;"></div>
    </div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="5" data-slide="1"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="5" data-slide="3"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div></div><div class="slide fp-slide fp-table" data-anchor="failurelab-video" id="failure-lab03" style="position: relative; width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">  
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move prev dark" href="http://teambrightly.com/#" data-page="5" data-slide="2"><span class="ico-wrap"></span></a>
    <a class="move next dark" href="http://teambrightly.com/#" data-page="5" data-slide="4"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>
  
  <div class="full-height" style="overflow:hidden;position:relative;">
    <div id="failurelab-video-ending" style="opacity: 0;">
      <div class="container full-height" style="position:relative;">
        <div class="vertically-centered">
          <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
          <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10 full-height">
            <h1>Reaching a global audience through videos.</h1>
            <p>Users around the world can view featured and individual storytelling videos from various Failure:Lab events, experiencing the profound impact of each story.</p>
          </div>
          <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
        </div>
      </div>
    </div>
    <div class="container full-height hidden-sm hidden-xs" style="position:relative;overflow:hidden;">
      <div id="ani-stage-fl03" class="ani-failurelab05">
      	<img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/failure-lab-browser.jpg" alt="Failure:Lab Videos">
		<video autoplay="" loop="" poster="/wp-content/themes/brightly2015/img/failure-lab-video-poster.jpg" id="failure-lab-videos">
			<source src="/wp-content/themes/brightly2015/video/failure-lab-videos.webm" type="video/webm">
			<source src="/wp-content/themes/brightly2015/video/failure-lab-videos.mp4" type="video/mp4">
		</video>
      </div>
    </div>
  </div>
</div></div><div class="slide fp-slide fp-table" id="failure-lab5" data-anchor="failurelab-engagement" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;"><div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 936px;"><div class="fp-scrollable" style="overflow: hidden; width: auto; height: 936px;"> 
  <div class="container full-height" style="position:relative;overflow:hidden;">
    <div class="row hidden-xs" style="margin-top:100px;background:#fff;">
      <div class="col-sm-4">
        <div class="radial-progress">
          <div class="triangle0" style="-webkit-transform: rotate(235.8deg); transform: rotate(235.8deg);"></div>
          <div class="circle0">
            <div class="mask full" style="-webkit-transform: rotate(117.9deg); transform: rotate(117.9deg);">
              <div class="fill blue" style="-webkit-transform: rotate(117.9deg); transform: rotate(117.9deg);"></div>
            </div>
            <div class="mask half">
              <div class="fill blue" style="-webkit-transform: rotate(117.9deg); transform: rotate(117.9deg);"></div>
              <div class="fill blue fix" style="-webkit-transform: rotate(235.8deg); transform: rotate(235.8deg);"></div>
            </div>
          </div>
          <div class="inset">
            <div class="inner-circle-container">
              <span class="stats">+<span id="count0">132</span>%</span>
              <h3>Engagement</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radial-progress">
          <div class="triangle1" style="-webkit-transform: rotate(286.2deg); transform: rotate(286.2deg);"></div>
          <div class="circle1">
            <div class="mask full" style="-webkit-transform: rotate(143.1deg); transform: rotate(143.1deg);">
              <div class="fill dark-blue" style="-webkit-transform: rotate(143.1deg); transform: rotate(143.1deg);"></div>
            </div>
            <div class="mask half">
              <div class="fill dark-blue" style="-webkit-transform: rotate(143.1deg); transform: rotate(143.1deg);"></div>
              <div class="fill dark-blue fix" style="-webkit-transform: rotate(286.2deg); transform: rotate(286.2deg);"></div>
            </div>
          </div>
          <div class="inset">
            <div class="inner-circle-container">
              <span class="stats">+<span id="count1">159</span>%</span>
              <h3>Users</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="radial-progress">
          <div class="triangle2" style="-webkit-transform: rotate(275.4deg); transform: rotate(275.4deg);"></div>
          <div class="circle2">
            <div class="mask full" style="-webkit-transform: rotate(137.7deg); transform: rotate(137.7deg);">
              <div class="fill light-blue" style="-webkit-transform: rotate(137.7deg); transform: rotate(137.7deg);"></div>
            </div>
            <div class="mask half">
              <div class="fill light-blue" style="-webkit-transform: rotate(137.7deg); transform: rotate(137.7deg);"></div>
              <div class="fill light-blue fix" style="-webkit-transform: rotate(275.4deg); transform: rotate(275.4deg);"></div>
            </div>
          </div>
          <div class="inset">
            <div class="inner-circle-container">
              <span class="stats">+<span id="count2">154</span>%</span>
              <h3>Sessions</h3>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="row" style="margin-top:10%;">
      <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/failurelabengage.jpg" alt="" class="img-responsive center-block">
    </div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="5" data-slide="3"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="5" data-slide="5"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div><div class="slimScrollBar" style="width: 10px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 979px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div></div></div><div class="slide fp-slide fp-table" id="failure-lab6" data-anchor="failurelab-view" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;"> 
  <div style="background:url(/wp-content/uploads/2015/02/failure-lab6.jpg) no-repeat;background-size:contain;background-position:center center;width:100%;height:100%;"></div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="5" data-slide="4"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="5" data-slide="6"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>
</div></div><div class="slide fp-slide fp-table" id="failure-lab7" data-anchor="failurelab-pages" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;"> 
  <div style="background:url(/wp-content/uploads/2015/02/failure-lab7.jpg) no-repeat;background-size:contain;background-position:center center;width:100%;height:100%;"></div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="5" data-slide="5"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="5" data-slide="7"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>
</div></div><div class="slide fp-slide fp-table" id="failure-lab8" data-anchor="failurelab-mobile" style="width: 12.5%; height: 100%; background: url(http://teambrightly.com/wp-content/uploads/2015/02/failure-lab8.jpg) 50% 100% / cover no-repeat;"><div class="fp-tableCell" style="height: 936px;"> 
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="5" data-slide="6"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="5" data-slide="0"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div></div></div></div><div class="fp-controlArrow fp-prev"></div><div class="fp-controlArrow fp-next"></div>

	<script>
		var transform_styles = ['-webkit-transform', '-ms-transform', 'transform'];
		var percentages = [131, 159, 153]; //the stats


		window.startCircles = function() {
			for(p in percentages) {

				var rotation = (percentages[p] / 200) * 180; //Math to find circle fill amount from stats
				var fill_rotation = rotation;
				var fix_rotation = rotation * 2;

				if(p == 0) {
					counter0();
				} else if(p == 1) {
					counter1();
				} else if(p == 2) {
					counter2();
				}
				
				
				for(i in transform_styles) {
					jQuery('.circle'+p+' .fill, .circle'+p+' .mask.full').css(transform_styles[i], 'rotate(' + fill_rotation + 'deg)');
					jQuery('.triangle'+p).css(transform_styles[i], 'rotate(' + fill_rotation*2 + 'deg)');
					jQuery('.circle'+p+' .fill.fix').css(transform_styles[i], 'rotate(' + fix_rotation + 'deg)');
				}
			}
		}

		var count = 0;

		function counter0() {
			count++;
			if(count < 131) {
				setTimeout(counter0, 12);
			}
			document.getElementById("count0").innerHTML = count;
		}

		function counter1() {
			count++;
			if(count < 159) {
				setTimeout(counter1, 13);
			}
			document.getElementById("count1").innerHTML = count;
		}

		function counter2() {
			count++;
			if(count < 153) {
				setTimeout(counter2, 13);
			}
			document.getElementById("count2").innerHTML = count;
		}

	</script>    
        </div>
    
    		<div class="section automation fp-section" data-anchor="page-automation" style="height: 936px; background-color: rgb(255, 255, 255);">
            <div class="fp-slides"><div class="fp-slidesContainer" style="width: 800%; -webkit-transition: all 700ms ease; transition: all 700ms ease; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);"><div class="slide fp-slide fp-table active" id="automation" data-anchor="automation-intro" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;"><div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 936px;"><div class="fp-scrollable" style="overflow: hidden; width: auto; height: 936px;">
  <div class="container full-height">
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs no-gutters full-height" style="overflow:hidden;position:relative;">
      <div class="automation-phoneAnimation full-height vertically-centered">
        <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/ani-auto01-01.png" class="phone" alt="Automation">
        <div class="screen-container">
          <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/ani-auto01-02.jpg" class="screen1a" alt="Automation Cover">
          <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/ani-auto01-03.jpg" class="screen2a" alt="Automation Article">
          <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/ani-auto01-04.jpg" class="screen3a" alt="Automation Article Copy">
        </div>
      </div>      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 auto full-height">
      <div class="vertically-centered">
        <h1 onclick="jQuery.fn.fullpage.moveTo(6, 1);">AUTOMATION.COM</h1>
        <p><a href="https://itunes.apple.com/us/app/pulse-automation.com/id929180838?mt=8" target="_blank">Automation.com</a> is the world’s leading online publisher of manufacturing automation content. We collaborated with Automation.com to create PULSE—the industry’s leading digital magazine mobile application.</p>
        <p class="swipe-indicator"><span class="icon-swipe-indicator"></span>SWIPE TO SEE MORE</p>
      </div>
    </div>
    <div class="hidden-lg hidden-md col-sm-1"><p></p></div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark next arrow-bounce" href="http://teambrightly.com/#" data-page="6" data-slide="1"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div><div class="slimScrollBar" style="width: 10px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 979px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div></div></div><div class="slide fp-slide fp-table" id="automation1" data-anchor="automation-engage" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;"> 
  <div class="container full-height" style="position:relative;">
    <div class="vertically-centered">
      <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
      <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10 full-height">
        <h1>We engage users through interactive design.</h1>
        <p>Automation.com articles were brought to life by featuring dynamic content, custom animations, interactive graphics, and embedded videos.</p>
      </div>
    </div>
    <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move prev" href="http://teambrightly.com/#" data-page="6" data-slide="0"><span class="ico-wrap"></span></a>
    <a class="move next" href="http://teambrightly.com/#" data-page="6" data-slide="2"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down">Next Page</a></div>
  </div>  
</div></div><div class="slide fp-slide fp-table" id="automation2" data-anchor="automation-slide" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <div class="container full-height" style="position:relative;">
    <div class="vertically-centered hidden-md hidden-sm hidden-xs">
      <div id="stage-ani-auto02" class="ani-auto02" style="position: relative; height: 706px; width: 1075px; z-index: 0; right: auto; bottom: auto; overflow: hidden; text-overflow: clip; background-color: rgb(255, 255, 255); background-size: 100% 100%;"><div id="stage-ani-auto02_auto02r" class="stage-ani-auto02_auto02r_id" style="position: absolute; margin: 0px; left: 100px; top: 0px; width: 967px; height: 761px; right: auto; bottom: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transform: translateZ(0px); background-image: url(http://teambrightly.com/wp-content/themes/brightly2015/js/images/auto02r.jpg); background-color: rgba(0, 0, 0, 0); background-size: 100% 100%; background-position: 0px 0px; background-repeat: no-repeat;"></div><div id="stage-ani-auto02_auto02slide" class="stage-ani-auto02_auto02slide_id" style="position: absolute; margin: 0px; left: 0px; top: 0px; width: 328px; height: 474px; right: auto; bottom: auto; -webkit-transform-style: preserve-3d; -webkit-transform: translate(-188px, 102px) translateZ(0px) rotate(0deg) scale(1, 1); transform: translate(-188px, 102px) translateZ(0px) rotate(0deg) scale(1, 1); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); background-image: url(http://teambrightly.com/wp-content/themes/brightly2015/js/images/auto02slide.png); background-color: rgba(0, 0, 0, 0); background-size: 100% 100%; background-position: 0px 0px; background-repeat: no-repeat;"></div><div id="stage-ani-auto02_auto02l" class="stage-ani-auto02_auto02l_id" style="position: absolute; margin: 0px; left: -29px; top: 0px; width: 131px; height: 761px; right: auto; bottom: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transform: translateZ(0px); background-image: url(http://teambrightly.com/wp-content/themes/brightly2015/js/images/auto02l.jpg); background-color: rgba(0, 0, 0, 0); background-size: 100% 100%; background-position: 0px 0px; background-repeat: no-repeat;"></div><div id="stage-ani-auto02_Rectangle" class="stage-ani-auto02_Rectangle_id" style="position: absolute; margin: 0px; left: -73px; top: 0px; width: 76px; height: 761px; right: auto; bottom: auto; border: 0px none rgb(0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transform: translateZ(0px); background-color: rgb(255, 255, 255); background-size: 100% 100%;"></div></div>
    </div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="6" data-slide="1"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="6" data-slide="3"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div></div><div class="slide fp-slide fp-table" id="automation3" data-anchor="automation-navigate" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;"> 
  <div class="container full-height" style="position:relative;">
    <div class="vertically-centered">
      <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
      <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10 full-height">
        <h1>We can help you navigate the maze of app submission.</h1>
        <p>PULSE was approved for the Apple, Google Play, and Amazon Stores.</p>
      </div>
    </div>
    <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move prev" href="http://teambrightly.com/#" data-page="6" data-slide="2"><span class="ico-wrap"></span></a>
    <a class="move next" href="http://teambrightly.com/#" data-page="6" data-slide="4"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down">Next Page</a></div>
  </div>
</div></div><div class="slide fp-slide fp-table" id="automation4" data-anchor="automation-store" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <div class="container full-height" style="position:relative;">
    <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
    <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10 full-height">
      <a href="https://itunes.apple.com/us/app/pulse-automation.com/id929180838?mt=8" target="_blank">
        <img style="z-index:1;max-height:90%;" class="img-responsive vertically-centered" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/auto-itunes.jpg">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.automation.pulsebyautomation.comv2&hl=en" target="_blank">
        <img style="z-index:2;right:0;max-height:90%;" class="img-responsive vertically-centered" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/auto-google-play.png">
      </a>
    </div>
    <div class="hidden-lg col-sm-1 col-sm-1 col-xs-1"><p></p></div>
  </div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="6" data-slide="3"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="6" data-slide="5"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>
</div></div><div class="slide fp-slide fp-table" id="automation5" data-anchor="automation-stack" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <div id="ipad-stacks" style="background:url(/wp-content/uploads/2015/02/auto-ipads.jpg) no-repeat;background-size:contain;background-position:bottom center;width:100%;height:100%;"></div>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="6" data-slide="4"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="6" data-slide="6"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div></div><div class="slide fp-slide fp-table" data-anchor="automation-video" id="automation-video" style="width: 12.5%;"><div class="fp-tableCell" style="height: 936px;">
  <video loop="" muted="" preload="auto" class="fs-video">
    <source src="wp-content/uploads/2015/02/Automation_iPad_optimized.mp4" type="video/mp4" poster="/wp-content/uploads/2015/02/automation.jpg">
  </video>
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move prev" href="http://teambrightly.com/#" data-page="6" data-slide="5"><span class="ico-wrap"></span></a>
    <a class="move next" href="http://teambrightly.com/#" data-page="6" data-slide="7"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down">Next Page</a></div>
  </div>
</div></div><div class="slide fp-slide fp-table" id="automation7" data-anchor="automation-mobile" style="width: 12.5%; background: url(http://teambrightly.com/wp-content/uploads/2015/02/04b_08a_Homepage_Automation.jpg) 50% 50% / cover no-repeat;"><div class="fp-tableCell" style="height: 936px;">
  <div class="nav-container" style="width: 1920px; height: 936px;">
    <a class="move dark prev" href="http://teambrightly.com/#" data-page="6" data-slide="6"><span class="ico-wrap"></span></a>
    <a class="move dark next" href="http://teambrightly.com/#" data-page="6" data-slide="0"><span class="ico-wrap"></span></a>
    <div class="down-icon-e5"><a href="http://teambrightly.com/#" class="hi-icon hi-icon-down dark">Next Page</a></div>
  </div>  
</div></div></div></div><div class="fp-controlArrow fp-prev"></div><div class="fp-controlArrow fp-next"></div>
<script>
  AdobeEdge.loadComposition('ani-auto02', 'ani-auto02', { htmlRoot: "/wp-content/themes/brightly2015/js/", scaleToFit: "none", centerStage: "none", minW: "0", maxW: "1075px", width: "1075px", height: "706px" }, {dom: [ ]}, {dom: [ ]});
</script>    
        </div>
        
        <div class="section fp-section fp-table" data-anchor="page-clients" style="height: 936px; background-color: rgb(255, 255, 255);"><div class="fp-tableCell" style="height: 936px;"><div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 936px;"><div class="fp-scrollable" style="overflow: hidden; width: auto; height: 936px;">
          <div style="height:100%;background: #00a8e1;">
            <div id="clients">
    <div class="client-intro">
      <div class="container">
    	<h1>We work with fantastic companies.</h1>
    	<p>Our work spans from entertainment to healthcare, from education to retail. We’ve designed everything from corporate identities to enterprise software, from individual focus to global scale.</p>
      </div>
    </div>
  <div class="container logos">
    <div><h3>Our Partners Include</h3></div>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/JCI.png" alt="Johnson Controls"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/MCFA.png" alt="MCFA"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/MOA.png" alt="Mall of America"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/haworth.png" alt="Haworth"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/failure-lab.png" alt="Failure Lab"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/cornell.png" alt="Cornell"></div>
    </div>
    <div class="row second">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/mit.png" alt="Mitsubishi"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/jungheinrich.png" alt="Jungheinrich"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/KISD.png" alt="Kent ISD"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/rapidparts.png" alt="Rapid Parts"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/mbmg.png" alt="MBMG"></div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6"><img class="img-responsive center-block" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/cat.png" alt="CAT"></div>
    </div>
  </div>
</div><div id="footer">
  <div class="container">
    <img src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/b.png">
    <hr>
    <div class="clearfix">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-left-gutter">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 no-left-gutter location">Grand Rapids</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 location no-left-gutter">San Jose</div>
        <div class="col-lg-6 col-md-4 hidden-sm hidden-xs location"><p></p></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs no-gutters">
        <div class="pull-right copy">© 2015 brightly. All Rights Reserved.</div>
      </div>
    </div>
    <div class="info">
      <p>616.608.7724</p>
      <p><a href="mailto:hello@teambrightly.com" target="_blank">hello@teambrightly.com</a></p>
      <p><a href="https://twitter.com/teambrightly" target="_blank">@teambrightly</a></p>
      <p><a href="https://www.facebook.com/TeamBrightly" target="_blank">/teambrightly</a></p>
      <p><a href="http://teambrightly.com/about-us/#page-careers">Careers</a></p>
    </div>
    <div class="row">
      <div class="hidden-lg hidden-md hidden-sm col-xs-12">
        <div class="copy">© 2015 brightly. All Rights Reserved.</div>
      </div>
    </div>
  </div>
</div> 
          </div>
        </div><div class="slimScrollBar" style="width: 10px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 648.471583220568px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div></div></div>
    
    	    
	</div>

		</div>
	</div>
	<script type="text/javascript" src="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/jquery.form.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/teambrightly.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>
    <script>
      var loadedEdgeComps = {};
      AdobeEdge.bootstrapCallback(function(compId) { loadedEdgeComps[compId] = AdobeEdge.getComposition(compId); });
    </script>
    <script type="text/javascript" src="/javascripts/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/javascripts/brightly.js"></script>




<div id="fp-nav" class="left light" style="color: rgb(0, 0, 0); margin-top: -221px; display: block;"><ul><li><a href="./brightly   digital agency. ux design. enterprise web, software, and mobile._files/brightly   digital agency. ux design. enterprise web, software, and mobile..html" class="active"><span></span></a></li><li><a href="http://teambrightly.com/#page-about" class=""><span></span></a></li><li><a href="http://teambrightly.com/#page-good-design" class=""><span></span></a></li><li><a href="http://teambrightly.com/#page-who-we-are" class=""><span></span></a></li><li><a href="http://teambrightly.com/#page-failure-lab" class=""><span></span></a></li><li><a href="http://teambrightly.com/#page-automation" class=""><span></span></a></li><li><a href="http://teambrightly.com/#page-clients" class=""><span></span></a></li></ul></div></body>
     
</html>




